.Cost {
    margin-right: 20px;
}
.ItemName {
    margin-right: 20px;
}
.Add {
    background: #009e2c;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
}