.Delete {
    margin-left: 20px;
    background: #990606;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
}
.Item {
    margin: 10px 0;
}